/* Computed variables:
 *
 * --browser-font-size: font pixel size of root element 
 */

:root {
  --primary-color: #F2FDFF;
  --secondary-color: #1e1e24;
  --tertiary-color: #444140;
  --accent-1: #5863F8;
  --accent-2: #f0ec57;

  --text-xxl: calc(var(--text-xl) * 1.7);
  --text-xl: calc(var(--text-l) * 1.7);
  --text-l: 3.3rem;
  --text-m: calc(var(--text-l) / 1.7);
  --text-s: calc(var(--text-m) / 1.7);
  --text-xs: calc(var(--text-s) / 1.7);
  --text-xxs: calc(var(--text-xs) / 1.7);
}

mark {
  padding: 0px 10px;
  border-radius: 5px;
  background-color: var(--highlight);
}

button {
  font-family: "Lexend", serif;
  font-optical-sizing: auto;
}

body {
  --navbar-height-rem: 4rem;
  --navbar-height-negative: calc(99vh - calc(var(--browser-font-size) * 3));

  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: "Lexend", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1.25rem;
  font-style: normal;
}

/* header */
header i {
  cursor: pointer;
}

/* main */
main {
  height: var(--navbar-height-negative);
  padding: 0% 12.5%;
  margin: 0;
}

/* nav */
#navbar {
  z-index: 1;
  height: var(--navbar-height-rem);
  padding: 0% 12.5%;
  margin: 0;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: top 500ms ease-in-out;
}

#navbar h1 {
  font-family: "Lexend", serif;
  font-optical-sizing: auto;
  font-size: var(--text-s);
  font-weight: 400;
}

#navbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

#navbar li {
  font-family: "Lexend", serif;
  font-optical-sizing: auto;
  padding-left: var(--text-s);
}

a {
  color: var(--primary-color);
  text-decoration-line: none;
}

/* main sections */
#about, #contact-us {
  height: var(--navbar-height-negative);
  width: 100%;
}

#contact-us {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

#about-graphic-1 {
  box-shadow: inset 0px 0px 20px 5px var(--secondary-color);
  isolation: isolate;
  background-color: var(--primary-color);
  left: 0;
  top: 2%;
  position: absolute;
  margin: 2% 0;
  height: 70%;
  width: 100vw;
  overflow: hidden;
}

#about-cta {
  background-color: var(--primary-color);
  border-radius: 8px;
  position: absolute;
  top: 10%;
  left: 12.5%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 22%;
}

#about-cta h2 {
  text-align: left;
  color: var(--secondary-color);
  margin: 0;
  font-weight: 700;
  font-size: var(--text-l);
  width: 100%;
}

#about-cta p {
  margin-top: 2rem;
  font-size: var(--text-s);
  font-weight: 300;
}

#about-cta button {
  font-family: "Lexend", serif;
  font-optical-sizing: auto;
  height: 4rem;
  color: var(--primary-color);
  background: none;
  background-color: var(--accent-1);
  font-size: var(--text-m);
  border: none;
  border-radius: 5rem;
  padding: 0 2rem;
  margin-top: 2rem;
}

#contact-us-title {
  margin-top: 2rem;
}

#contact-us-title h2 {
  margin: 0;
  font-family: "Lexend", serif;
  font-optical-sizing: auto;
  font-size: var(--text-l); 
  font-weight: 700;
}

#contact-us-title p {
  font-size: var(--text-s);
  font-weight: 300;
}

#contact-us-form-selector {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#contact-us-form-selector p {
  font-size: var(--text-s);
  margin-right: 0.5rem;
}

.select-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  font-family: "Lexend", serif;
  font-optical-sizing: auto;
  color: var(--primary-color);
  background-color: var(--accent-1);
  padding: 0.2rem 0.5rem;
}

.select-container select {
  font-size: var(--text-s);
  appearance: none;
  border: none;
  color: var(--primary-color);
  background-color: var(--accent-1);
}

#instructor-interest-form {
  border: 1px solid blue;
  height: 100%;
  width: 50%;
  padding: 0rem;
  margin-top: 2rem;
}



#instructor-interest-form h2 {
  margin: 0;
  padding: 0;
  margin-bottom: var(--text-s);
}

.form-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: var(--text-xs);
}

.form-input {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-input label {
  font-size: var(--text-xs);
  font-weight: 400;
}

.form-input input {
  border: 1px solid var(--secondary-color); 
  margin-right: var(--text-xs);
  font-size: var(--text-xs);
  font-family: "Lexend", serif;
  font-optical-sizing: auto;
  height: var(--text-s);
}

.form-input input:focus {
  outline: 2px solid var(--accent);  ;
}

.check-multiple {
  display: flex;
  flex-direction: row;
}

.check-multiple input {
  display: none;
}

.check-multiple span {
  padding: 1rem;
  cursor: pointer;
}

.check-multiple label {
  margin-top: var(--text-xs);
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.check-multiple input:checked ~ span {
  padding: 0 1rem;
  background: var(--accent);
  color: white;
}

/* .check-multiple span {
  display: inline-block;
  width: 100%;
} */
