/* Computed variables:
 *
 * --browser-font-size: font pixel size of root element 
 */

:root {
  --primary-color: #FFFFFF;
  --secondary-color: #111318;
  --accent: #FFDC2E;

  --navbar-height-rem: 3.8rem;
  --navbar-height-negative: calc(100vh - calc(var(--browser-font-size) * 3.8));

  --text-xl: calc(var(--text-l) * 1.618);
  --text-l: 3.5rem;
  --text-m: calc(var(--text-l) / 1.618);
  --text-s: calc(var(--text-m) / 1.618);
  --text-xs: calc(var(--text-s) / 1.618);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  font-size: 1.25rem;
  font-style: normal;
}

/* header */
header i {
  cursor: pointer;
}

/* main */
main {
  min-height: var(--navbar-height-negative);
  padding: 0rem var(--text-s);
}

/* nav */
#navbar {
  height: var(--navbar-height-rem);
  padding: 0rem var(--text-s);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: top 500ms ease-in-out;
}

#logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#logo {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#navbar h1 {
  font-size: var(--text-s);
  font-weight: 800;
  font-style: normal;
}

#navbar button {
  border: none;
  font-family: "IBM Plex Serif", serif;
  display: inline-block;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  cursor: pointer;
  font-weight: 400;
  margin-right: var(--text-xs);
  font-size: var(--text-s);
  font-style: normal;
}

#navbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

#navbar.scroll-up {
  top: 0;
}

#navbar.scroll-down {
  top: -100%;
}

#navbar.scroll-up,
#navbar:focus-within {
  top: 0;
}

/* about */
#about {
  height: var(--navbar-height-negative);
  width: 100%;
}

#about-intro {
  height: 55%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#about-intro h2 {
  color: var(--secondary-color);
  margin: 0;
  font-weight: 400;
  font-size: var(--text-l);
  width: 100%;
}

#about-intro-cta button {
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  color: var(--secondary-color);
  margin: 0;
  padding: 0; 
  font-weight: 800;
  font-size: var(--text-xl);
  width: 100%;
}

#about-details {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#about-details ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: var(--text-xs);
  display: flex;
  flex-direction: row;
}

#about-details li {
  padding: 0rem var(--text-s); 
  margin-top: var(--text-xs);
}

#about-details-cta {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-details button {
  font-family: "IBM Plex Serif", serif;
  width: auto;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 1.2rem;
  font-style: normal;
}

/* instructors */
#instructors .instructor-card {
  display: flex;
  padding: 0rem 1rem;
}

#instructors .instructor-card-text-container {
  display: flex;
  flex-direction: column;
}

#instructors img {
  height: 100px;
  margin: 1rem;
}

/* contact us */
#contact-us {
  min-height: 60vh;
  display: flex;
  flex-direction:  column;
  justify-content: center;
  align-items: center;
}

#contact-us-start {
  text-align: left;
  padding-bottom: 1rem;
}

#contact-us-start h2 {
  font-size: xx-large;
}

#contact-us-start button {
  text-align: center;
}

#contact-us-start-options {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#contact-us .interest-form-title {
  padding: 1rem 0rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#contact-us .interest-form-title button {
  cursor: pointer;
}

#contact-us .interest-form > * {
  margin-bottom: 0.5rem;
}

#contact-us .interest-form {
  padding-bottom: 1rem;
}

#contact-us button {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  margin: 0rem 2rem;
  width: 6.5rem;
  height: 2.5rem;
  background-color: var(--accent);
  color: var(--primary-color);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
}
